# This file contains all the interesting use cases thati encounter during my studies carried out on  sample dataframes

In [1]:
import pandas as pd
import numpy as np

raw_data = {'first_name': ['Jason', np.nan, 'Tina', 'Jake', 'Amy'], 
        'last_name': ['Miller', np.nan, 'Ali', 'Milner', 'Cooze'], 
        'age': [42, np.nan, 36, 24, 73], 
        'sex': ['m', np.nan, 'f', 'm', 'f'], 
        'preTestScore': [4, np.nan, np.nan, 2, 3],
        'postTestScore': [25, np.nan, np.nan, 62, 70]}

df = pd.DataFrame(raw_data)

In [3]:
df

  first_name last_name   age  sex  preTestScore  postTestScore
0      Jason    Miller  42.0    m           4.0           25.0
1        NaN       NaN   NaN  NaN           NaN            NaN
2       Tina       Ali  36.0    f           NaN            NaN
3       Jake    Milner  24.0    m           2.0           62.0
4        Amy     Cooze  73.0    f           3.0           70.0

In [8]:
df.loc[df.loc[:,'age']>30,:]

  first_name last_name   age sex  preTestScore  postTestScore
0      Jason    Miller  42.0   m           4.0           25.0
2       Tina       Ali  36.0   f           NaN            NaN
4        Amy     Cooze  73.0   f           3.0           70.0

### 1) In order to convert a df to a df containing only selective data types we use select_dtypes() function

In [5]:
sf = df.select_dtypes('object')
sf

  first_name last_name  sex
0      Jason    Miller    m
1        NaN       NaN  NaN
2       Tina       Ali    f
3       Jake    Milner    m
4        Amy     Cooze    f

### The df.apply(axis=) function is used to apply function to a dataframe rowwize or column-wize based on the   specified axis. It returns a SERIES

### 2) Now to find all the unique values each column of the df as we use apply(pd.Series.nunique, axis=0) and this returns a series

In [6]:
sf = df.select_dtypes('object').apply(pd.Series.nunique,axis=0)
sf
#type(sf)

first_name    4
last_name     4
sex           2
dtype: int64

### 3) To return a dataframe containing boolean values for wether data is missing or not we use isnull() fn

In [7]:
mis_values = df.isnull()
mis_values

   first_name  last_name    age    sex  preTestScore  postTestScore
0       False      False  False  False         False          False
1        True       True   True   True          True           True
2       False      False  False  False          True           True
3       False      False  False  False         False          False
4       False      False  False  False         False          False

### 4) df['column_name'].value_counts() will return a series indicating all the unique values in the column along with their counts

In [8]:
mis_values['first_name'].value_counts()

False    4
True     1
Name: first_name, dtype: int64

### 5) To get the count of missing values column wise, we use sum() and the returntype is series

In [9]:
df.isnull().sum()#sum() basically counts the number of trues column wise

first_name       1
last_name        1
age              1
sex              1
preTestScore     2
postTestScore    2
dtype: int64

### 6) One can directly perform operations on Series data types and these operations will also result in a series

In [10]:
mis_val_percent = df.isnull()['first_name'].value_counts()/len(df) *100
mis_val_percent

False    80.0
True     20.0
Name: first_name, dtype: float64

### 7) pd.concat() can be used to join two Series and the result will be a Dataframe

In [11]:
missing_values = df.isnull().sum()
missing_values
missing_values_percent = df.isnull().sum()/len(df) * 100
missing_values_percent

first_name       20.0
last_name        20.0
age              20.0
sex              20.0
preTestScore     40.0
postTestScore    40.0
dtype: float64

In [12]:
missing = pd.concat([missing_values, missing_values_percent], axis=1)
missing

               0     1
first_name     1  20.0
last_name      1  20.0
age            1  20.0
sex            1  20.0
preTestScore   2  40.0
postTestScore  2  40.0

In [13]:
missing = missing.rename(columns = {0:"Missing Values", 1:"Missing Values Percent"})
missing

               Missing Values  Missing Values Percent
first_name                  1                    20.0
last_name                   1                    20.0
age                         1                    20.0
sex                         1                    20.0
preTestScore                2                    40.0
postTestScore               2                    40.0

### 8) Creating sub-datframes based on some condition on some column

In [14]:
#missing[missing!= 0] 
missing = missing[missing.iloc[:,1]!=0]
missing
#type(missing.iloc[:,1]!= 0)#the inner part returns a boolean series if only some columns are passed and returns a dataframe if the entire dataframe is passed

               Missing Values  Missing Values Percent
first_name                  1                    20.0
last_name                   1                    20.0
age                         1                    20.0
sex                         1                    20.0
preTestScore                2                    40.0
postTestScore               2                    40.0

### 9) Sorting a dataframe based on some column

In [15]:
missing = missing.sort_values('Missing Values Percent', ascending=False)
missing

               Missing Values  Missing Values Percent
preTestScore                2                    40.0
postTestScore               2                    40.0
first_name                  1                    20.0
last_name                   1                    20.0
age                         1                    20.0
sex                         1                    20.0

### 10) df.dtypes() returns the data type of each column in form of a series

In [16]:
df.dtypes

first_name        object
last_name         object
age              float64
sex               object
preTestScore     float64
postTestScore    float64
dtype: object

In [17]:
df.dtypes.value_counts()

object     3
float64    3
dtype: int64

### 11)df = pd.get_dummies(df) returns one hot encoded df

### 12) label encoding a column

In [18]:
# le = LabelEncoder()
# df['col'] = le.transform(df['col'])#this will label encode the dataframe column

### 13) you can iterate through the list of columns of a dataframe

In [19]:
for col in df:
    print(col)

first_name
last_name
age
sex
preTestScore
postTestScore

In [20]:
df['age'].mean()

43.75

# >> In binary classification the percentage of positive class(1) can be determined by directly taking mean of the target column, counting is not required

In [21]:
raw_data = {'first_name': ['Jason', np.nan, 'Tina', 'Jake', 'Amy'], 
        'last_name': ['Miller', np.nan, 'Ali', 'Milner', 'Cooze'], 
        'age': [1, 0, 0, 1, 1], 
        'sex': ['m', np.nan, 'f', 'm', 'f'], 
        'preTestScore': [4, np.nan, np.nan, 2, 3],
        'postTestScore': [25, np.nan, np.nan, 62, 70]}

df2 = pd.DataFrame(raw_data)

In [22]:
df2

  first_name last_name  age  sex  preTestScore  postTestScore
0      Jason    Miller    1    m           4.0           25.0
1        NaN       NaN    0  NaN           NaN            NaN
2       Tina       Ali    0    f           NaN            NaN
3       Jake    Milner    1    m           2.0           62.0
4        Amy     Cooze    1    f           3.0           70.0

### 14) Finding the percentage of value counts of a column(specially useful when the column is not binary) Also this shows how the series returned by value_counts() can be converted into dict

In [23]:
ass = dict(df2['age'].value_counts())
ass

{1: 3, 0: 2}

In [24]:
#ass[1]/len(df2) *100
dict(df2['age'].value_counts())[1]/len(df2) *100
#df2['age'].mean() * 100 #for binary class

60.0

### 15) df.corr() returns correlation of all rows with all columns and we can specify the column if want

In [25]:
df.corr()
#type(df.corr())#dataframe

                    age  preTestScore  postTestScore
age            1.000000      0.363112        0.31399
preTestScore   0.363112      1.000000       -0.77061
postTestScore  0.313990     -0.770610        1.00000

In [26]:
df.corr()['age']
#type(df.corr()['age'])#series

age              1.000000
preTestScore     0.363112
postTestScore    0.313990
Name: age, dtype: float64

### 16) df.loc[  ] ka use https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/

In [33]:
df2.loc[df2['age']==0, 'last_name'] #df2['age']==0 returns a boolean series

1    NaN
2    Ali
Name: last_name, dtype: object

In [28]:
df2[df2['age']==0]['last_name']

1    NaN
2    Ali
Name: last_name, dtype: object

### 17) pd.cut used for binning the values

In [29]:
df3 = df.copy()
#print(type(pd.cut(df3['age'], bins = np.linspace(20,80,num=7)))) #series
df3['age_range'] = pd.cut(df3['age'], bins = np.linspace(40,80,num = 9))
print(df3.dtypes)
df3

first_name         object
last_name          object
age               float64
sex                object
preTestScore      float64
postTestScore     float64
age_range        category
dtype: object

  first_name last_name   age  sex  preTestScore  postTestScore     age_range
0      Jason    Miller  42.0    m           4.0           25.0  (40.0, 45.0]
1        NaN       NaN   NaN  NaN           NaN            NaN           NaN
2       Tina       Ali  36.0    f           NaN            NaN           NaN
3       Jake    Milner  24.0    m           2.0           62.0           NaN
4        Amy     Cooze  73.0    f           3.0           70.0  (70.0, 75.0]

### 18) df.groupby(column) , it is NOT an inplace function

In [30]:
print(df2)
df22 = df2.groupby('age').mean()
df22

  first_name last_name  age  sex  preTestScore  postTestScore
0      Jason    Miller    1    m           4.0           25.0
1        NaN       NaN    0  NaN           NaN            NaN
2       Tina       Ali    0    f           NaN            NaN
3       Jake    Milner    1    m           2.0           62.0
4        Amy     Cooze    1    f           3.0           70.0

     preTestScore  postTestScore
age
0             NaN            NaN
1             3.0      52.333333

### 19) .index and .astype() and the use of list() on them

In [31]:
print(df22.index)
print(df22.index.astype('str'))
print(list(df22.index))

Int64Index([0, 1], dtype='int64', name='age')
Index(['0', '1'], dtype='object', name='age')
[0, 1]

### 20) df.dtypes() gives the types of all the colums in the dataframe

In [32]:
print(df.dtypes)
print(df.dtypes.value_counts())
df['age'].dtypes #for a single column retrns datatype of that column

first_name        object
last_name         object
age              float64
sex               object
preTestScore     float64
postTestScore    float64
dtype: object
object     3
float64    3
dtype: int64

dtype('float64')

### 21) For binary class finding the percentage of 1s in a column

In [118]:
df2['age'].mean() * 100

60.0

### age_groups  = age_data.groupby('YEARS_BINNED').mean()
### plt.bar(age_groups.index.astype(str), 100 * age_groups['TARGET'])

### 22) plot_data = ext_data.drop(columns = ['DAYS_BIRTH']).copy()

In [2]:
import pandas as pd
raw_data = {'c1': ['A', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'B'], 
        'c2': [23, 35, 45, 12, 13, 17, 12, 21, 23]
           }

df = pd.DataFrame(raw_data)
df

  c1  c2
0  A  23
1  A  35
2  A  45
3  A  12
4  B  13
5  B  17
6  B  12
7  B  21
8  B  23

In [24]:
df.loc[:,'c1'].apply(lambda x:x*5)

0    AAAAA
1    AAAAA
2    AAAAA
3    AAAAA
4    BBBBB
5    BBBBB
6    BBBBB
7    BBBBB
8    BBBBB
Name: c1, dtype: object

In [25]:
df.loc[:,'c2'].astype(str).apply(lambda x:x*5)

0    2323232323
1    3535353535
2    4545454545
3    1212121212
4    1313131313
5    1717171717
6    1212121212
7    2121212121
8    2323232323
Name: c2, dtype: object

In [35]:
dfl = df.groupby('c1')['c2'].apply(list)
dfl['m'] = median

c1
A        [23, 35, 45, 12]
B    [13, 17, 12, 21, 23]
Name: c2, dtype: object

AttributeError: 'list' object has no attribute 'median'

In [10]:
df.pivot(index = 'c1', values = 'c2')

KeyError: 'c1'

In [31]:

df.pivot_table(index = 'c1', columns='c2')

DataError: No numeric types to aggregate

In [9]:
itemgetter()

NameError: name 'itemgetter' is not defined

In [13]:
df = pd.DataFrame({'id':[2,2,2,3,3], 'key':['foo','bar','baz','foo','bar'], 'value':['oranges', 'bananas', 'apples', 'grapes', 'kiwis']})
df

   id  key    value
0   2  foo  oranges
1   2  bar  bananas
2   2  baz   apples
3   3  foo   grapes
4   3  bar    kiwis

In [14]:
df.set_index('id', inplace=True)
df

    key    value
id
2   foo  oranges
2   bar  bananas
2   baz   apples
3   foo   grapes
3   bar    kiwis

In [16]:
df.pivot_table(values='value', index=df.index, columns='key', aggfunc='first')

key      bar     baz      foo
id
2    bananas  apples  oranges
3      kiwis     NaN   grapes

In [18]:
df.pivot(index=df.index, columns='key')['value']

key      bar     baz      foo
id
2    bananas  apples  oranges
3      kiwis     NaN   grapes

In [19]:
df.reset_index().groupby(['id', 'key'])['value'].aggregate('first').unstack()

key      bar     baz      foo
id
2    bananas  apples  oranges
3      kiwis     NaN   grapes

In [20]:
raw_data = {'c1': ['A', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'B'], 
        'c2': [23, 35, 45, 12, 13, 17, 12, 21, 23]
           }

df1 = pd.DataFrame(raw_data)
df1

  c1  c2
0  A  23
1  A  35
2  A  45
3  A  12
4  B  13
5  B  17
6  B  12
7  B  21
8  B  23

In [ ]:
df.pivot_table(values='value', index=df.index, columns=[range(len(df))], aggfunc='first')

In [34]:
df = pd.DataFrame({'a':[10,20,30],'b':['foo', 'bar', 'xyz'], 'c':['1','2','3']})
df

    a    b  c
0  10  foo  1
1  20  bar  2
2  30  xyz  3

In [28]:
df.apply(lambda x: str(x['a']) + x['b'], axis = 1)

0    10foo
1    20bar
2    30xyz
dtype: object

In [12]:
# df
# df.apply(lambda x: x['a']*10 + x['c'], axis = 1 )

### Transposing and aggregating

In [70]:

df5 = pd.DataFrame({'name' : ['a','a','b','b','b','c','c','c','c'],
                    'value':[24,26,30,2,21,16,8,45,68]  })

df5.set_index('name',inplace=True)
df5

df6 = df5.copy()

In [74]:
# import numpy as np
# df6
# df6.pivot_table(values='value',columns=np.array(list(range(len(df6)))) ,index='name', aggfunc='first')

In [62]:
df5['col'] = df5.groupby('name').cumcount()

      value  col
name
a        24    0
a        26    1
b        30    0
b         2    1
b        21    2
c        16    0
c         8    1
c        45    2
c        68    3

In [63]:
df5T = df5.pivot_table(values='value',columns='col' ,index='name', aggfunc='first')
df5T

col      0     1     2     3
name
a     24.0  26.0   NaN   NaN
b     30.0   2.0  21.0   NaN
c     16.0   8.0  45.0  68.0

In [69]:
#df5T['median'] = df5T.apply(lambda x: x.median(), axis=1)
df5T['median'] = df5T.median(axis=1)
df5T

col      0     1     2     3  median
name
a     24.0  26.0   NaN   NaN    25.0
b     30.0   2.0  21.0   NaN    21.0
c     16.0   8.0  45.0  68.0    30.5

### XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

In [32]:
#pd.concat([df5.loc['a',:],df5.loc['b',:],df5.loc['c',:]], axis = 0)
# df.pivot_table(values='value', index=df.index, columns='key', aggfunc='first')

dffff = df5.loc['a',:]
dffff
dffff.pivot_table(values='value',columns='col' ,index='name', aggfunc='first')

col      0     1     2     3
name
a     24.0  26.0   NaN   NaN
b     30.0   2.0  21.0   NaN
c     16.0   8.0  45.0  68.0

In [40]:
def change_columns(inputs):
    a,b,c = inputs
    if a==:
        return ''
    else:
        return

    a    b  c
0  10  foo  1
1  20  bar  2
2  30  xyz  3

In [ ]:
df[][][].apply(change_columns,axis=1)

In [41]:
dff = pd.DataFrame({'a':[0,4,8,12],'b':[1,5,9,13],'c':[2,6,10,14],'d':[3,7,11,15],'groups':[0,0,1,1]})
dff

    a   b   c   d  groups
0   0   1   2   3       0
1   4   5   6   7       0
2   8   9  10  11       1
3  12  13  14  15       1

In [43]:
dff.groupby('groups').agg({'a':['sum','max'],
                          'b':'mean',
                          'c':'sum',
                          'd': lambda x: (x.max - x.min)})

TypeError: unsupported operand type(s) for -: 'method' and 'method'

.transform after groupby

pd.concat([],)

pd.merge(df1,df2,how='inner',on=['column'])

In [ ]:
# HPI_data.dropna(how='all',inplace=True) #dropping rows wit all nans, use how='any' for dropping rows with any nans
HPI_data.fillna(method='ffill',inplace=True)
HPI_data.fillna(value=-99999,inplace=True)
HPI_data.fillna(method='bfill',inplace=True)